* {
    margin: 0 auto; /* set top and bottom margins to 0 and automatically center elements */
    padding: 0; /* set padding to 0 so content takes up entirety of each box */
    box-sizing: border-box; /* include border thickness and padding in box dimensions */
    overflow-x: hidden;
}

.hero {
    display: flex;
    width: 100%; /* This can be any width you want the container to be */
    max-width: 100%;
    height: 50rem;
    overflow: hidden; /* This ensures that any overflow is hidden */
}

.hero--background-image {
    position: relative;
    filter: blur(5px);
    top: -10rem;
    left: 49rem;
    display: block; /* Removes any extra spacing below the image */
    max-width: 100%; /* Limits the image's maximum width to the width of its container */
    height: auto; /* Allows the image to scale proportionally with the width */
}

.hero--foreground-image {
    position: absolute;
    top: 20rem;
    left: 12rem;
}

.carousel {
    display: block; /* Removes any extra spacing below the image */
    width: 100%;
}

.mission {
    /* border: 1px solid black; */
    background-color: white;
    text-align: center;
    margin: 8em auto;
}

.mission--statement-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-y: hidden;
}

.mission-statement {
    border: 5px solid green;
    width: 45ch;
    margin: auto;
    font-size: 1.5rem;
}

.mission--flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid red 1px; */
}

.mission--flexitem {
    margin: 2rem;
    width: 30ch;
    font-size: 1.1rem;
    max-width: 100%; /* Add this to prevent flex items from overflowing when the browser size is reduced */
}


.events {
    background-color: black;
    color: white;
    padding: 12em 25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.events--flex-item-1 {
    text-align: left;
}

.events h1 {
    font-size: 2.5rem;
}

.events p {
    font-size: 1.1rem;
    width: 45ch;
}

.events--flex-item-2 {
    text-align: right;
}