* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero,
.mission,
.events {
    margin: 0 auto; /* Add this line to center the elements horizontally */
}

.hero {
    width: 100%; /* This can be any width you want the container to be */
    max-width: 100%;
    overflow: hidden; /* This ensures that any overflow is hidden */
}

.hero--background-image {
    filter: blur(5px);
    width: 100%;
    display: block; /* Removes any extra spacing below the image */
}

.hero--foreground-image {
    position: absolute;
    top: 20rem;
    left: 12rem;
}

.carousel {
    border: 1px solid black;
}

.mission {
    /* border: 1px solid black; */
    background-color: white;
    text-align: center;
    margin: 8em auto;
}

.mission--statement {
    /* border: 1px solid black; */
    width: 45ch;
    margin: auto;
    font-size: 1.5rem;
}

.mission--flexbox-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: solid red 1px; */
}

.mission--flexitem {
    margin: 2rem;
    width: 30ch;
    font-size: 1.1rem;
    max-width: 100%; /* Add this to prevent flex items from overflowing when the browser size is reduced */
}


.events {
    background-color: black;
    color: white;
    padding: 12em 25em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.events--flex-item-1 {
    text-align: left;
}

.events h1 {
    font-size: 2.5rem;
}

.events p {
    font-size: 1.1rem;
    width: 45ch;
}

.events--flex-item-2 {
    text-align: right;
}