* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    border: 1px solid black;
    background-image: url(../images/misc/networking.jpeg);
    height: 1000px;
    /* filter: blur(4px); */
}

.carousel {
    border: 1px solid black;
}

.mission {
    border: 1px solid black;
}

.mission--statement {
    border: 1px solid black;
}

.mission--item {
    border: 1px solid black;
}

.events {
    border: 1px solid black;   
}
